@import '@/assets/scss/share.scss';

.products__wrap {
  width: 100%;
  height: 100%;
}

.product__title {
  text-align: right;
}

.el-table {
  margin-top: to-rem(20px);
  &::before {
    width: 0;
  }
}

.enabled__txt {
  color: $danger;
}

.isEnable {
  color: $primary;
}

