@import '@/assets/scss/share.scss';

.login__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: url("./images/login-bg.jpg") no-repeat;
  background-size: 100% 100%;
}

.container {
  display: flex;
  flex-direction: column;
  width: to-rem(300px);
  text-align: center;
}

.title {
  font-size: to-rem(36px);
  color: $primary;
}

.submit__btn {
  width: 100%;
  margin-top: to-rem(22px);
}

.tip {
  display: flex;
  flex-direction: column;
  text-align: left;
  line-height: to-rem(20px);
}